*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin: auto;
    margin-top: 20%;
}

.container p{
    font-size: 4rem;
    font-weight: bold;
    margin: 10px 0;
}

.container h1{
    font-size: 3rem;
}

.container button{
    padding:6px 10px;
    margin: 0 5px;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.6s;
}

.container button:hover{
    background-color: black;
    color: white;
}